<div ng-controller="medicalCtrl as med" class="createAccountCtrl">
    <div class="wrapper sidebar-content wrapper-content animated fadeInRight homeCtrl"
         ng-class="isSmart?'smart-no-padding':''">
        <div class="container-fluid" style="padding-left: 0;padding-right: 0;margin-top: 25px;">
            <div class="col-xs-12 col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>医疗确认单</h5>
                    </div>
                    <div class="ibox-content" style="padding: 15px 0">
                        <div class="activity-stream">
                            <div class="col-sm-12"
                                 style="padding-bottom: 10px;border-bottom: 1px solid #928c8c;border-radius: 3px;">
                                <span style="width: 48%;text-align: left;display: inline-block;color: #3f4244">医疗确认单</span>
                                <span class="" style="width: 47%;text-align: right;display: inline-block;color: #337ab7;" ng-click="med.handle.upPic()">上传</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 text-center" style="margin-bottom: 25px;margin-top: 80px;">
                <button type="submit" class="loginBtn" href="#licInfo" style="padding: 8px 25px;"
                        ng-click="med.handle.goStep()">
                    <i class="fa fa-arrow-right"></i>&nbsp;完成并签署合同
                </button>
            </div>
        </div>
    </div>
</div>

