<div ng-controller="returnCtrl as ren" class="returnCtrl">
    <div class="wrapper sidebar-content wrapper-content animated fadeInRight returnCtrl"
         ng-class="isSmart?'smart-no-padding':''">
        <div class="container-fluid" style="padding-left: 0;padding-right: 0;margin-top: 25px;">
            <div class="col-xs-12 col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="text-center" ng-if="ren.code == false">
                        <h2>该用户当前无订单！</h2>
                    </div>
                    <div class="ibox-content" style="padding: 0 ">
                        <div class="lineList">
                            <ul class="ul-list list1"
                                style="position: relative;margin-top: 10px;background: rgba(70, 159, 255, 0.05)"
                                ng-repeat="item in ren.dataList">
                                <li>
                                    <i class="glyphicon"
                                       ng-class="{'glyphicon-alert' : item.returnStatus === '2' ,'glyphicon-ok': item.returnStatus === '1', 'glyphicon-dashboard':item.returnStatus === '0'
                                       ,'glyphicon-remove':item.returnStatus === '8','glyphicon-ok-sign':item.returnStatus === '9'}"
                                       style="position: absolute;right: 10%;top:50%;"></i>
                                    <span class="pull-left fontWeight"> <i
                                            class="glyphicon glyphicon-signal"></i> 还款期数：</span><span
                                        class="ng-binding pull-left">第 {{item.currentPeriod}} 期 （{{item.contractId}}）</span>
                                </li>
                                <li><span class="pull-left fontWeight"> <i
                                        class="glyphicon glyphicon-check"></i> 应还日期：</span><span
                                        class="ng-binding pull-left">{{item.returnDate | date:'yyyy-MM-dd HH:mm:ss' || '-' }}</span>
                                </li>
                                <li><span class="pull-left fontWeight"> <i
                                        class="glyphicon glyphicon-yen"></i> 应还总额：</span><span
                                        class="ng-binding pull-left">{{(item.principalAmount + item.interestAmount + item.overdueAmount).toFixed(2) || '-'}} 元</span>
                                </li>
                                <li ng-if="item.state === '1'"><span class="pull-left fontWeight"> <i
                                        class="glyphicon glyphicon-record"></i> 还款时间：</span><span
                                        class="ng-binding pull-left">{{item.returnDateAc | date:'yyyy-MM-dd HH:mm:ss' || '-' }}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
