<div ng-controller="returnCtrl as ren" class="returnCtrl">
    <div class="wrapper sidebar-content wrapper-content animated fadeInRight returnCtrl"
         ng-class="isSmart?'smart-no-padding':''">
        <div class="container-fluid" style="padding-left: 0;padding-right: 0;margin-top: 25px;">
            <div class="col-xs-12 col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" style="padding: 0 ">
                        <div class="lineList">
                            <ul class="ul-list list1"
                                style="position: relative;margin-top: 10px;background: rgba(70, 159, 255, 0.05)"
                                ng-repeat="item in ren.dataList.dataList">
                                <li>
                                    <i class="glyphicon"
                                       ng-class="{'glyphicon-alert' : item.state === '2' ,'glyphicon-ok': item.state === '1', 'glyphicon-dashboard':item.state === '0'}"
                                       style="position: absolute;right: 10%;top:50%;"></i>
                                    <span class="pull-left fontWeight"> <i
                                            class="glyphicon glyphicon-signal"></i> 还款期数：</span><span
                                        class="ng-binding pull-left">第 {{item.companyName}} 期 （{{item.contractNumber}}）</span>
                                </li>
                                <li><span class="pull-left fontWeight"> <i
                                        class="glyphicon glyphicon-check"></i> 应还日期：</span><span
                                        class="ng-binding pull-left">{{item.orderTime}}</span></li>
                                <li><span class="pull-left fontWeight"> <i
                                        class="glyphicon glyphicon-yen"></i> 应还总额：</span><span
                                        class="ng-binding pull-left">{{item.sendMoney}} 元</span></li>
                                <li ng-if="item.state === '1'"><span class="pull-left fontWeight"> <i
                                        class="glyphicon glyphicon-record"></i> 还款时间：</span><span
                                        class="ng-binding pull-left">{{item.orderTime}}</span></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
