<div ng-controller="orderListCtrl as ord" class="orderListCtrl">
    <div class="wrapper sidebar-content wrapper-content animated fadeInRight orderListCtrl"
         ng-class="isSmart?'smart-no-padding':''">
        <div class="container-fluid" style="padding-left: 0;padding-right: 0;margin-top: 25px;">
            <div class="col-xs-12 col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content" style="padding: 0 10px 20px 10px">
                        <div ng-repeat="item in ord.data">
                            <div class="alert" ng-class="{
                             'alert-success': item.orderStatus === '99' || item.orderStatus === '13' || item.orderStatus === '05',
                             'alert-info': item.orderStatus === '00',
                             'alert-warning': item.orderStatus === '00' || item.orderStatus === '01' || item.orderStatus === '02',
                             'alert-danger': item.orderStatus === '00',
                             'alert-hhh': item.orderStatus === '04',
                             'alert-gray': item.orderStatus === '11' || item.orderStatus === '12' || item.orderStatus === '13' || item.orderStatus === '03'
                            }" style="position: relative;">
                                <i class="glyphicon glyphicon-menu-right goTodetail" ng-click="ord.handle.goDetail()"
                                   ng-if="item.orderStatus == '00' || item.orderStatus == '04' || item.orderStatus == '00' ||item.orderStatus == '05' || item.orderStatus == '12' || item.orderStatus == '99'"></i>
                                <ul class="ul-list" style="margin-bottom: 0">
                                    <li><span class="pull-left fontWeight"> <i
                                            class="glyphicon glyphicon-lock"></i> 商户：</span><span
                                            class="ng-binding pull-left">{{item.companyName || '-'}}</span></li>
                                    <li><span class="pull-left fontWeight"> <i
                                            class="glyphicon glyphicon-fire"></i> 名称：</span><span
                                            class="ng-binding pull-left">{{item.itemName || '-'}}</span></li>
                                    <li><span class="pull-left fontWeight"> <i
                                            class="glyphicon glyphicon-retweet"></i> 期数：</span><span
                                            class="ng-binding pull-left">{{item.totalPeriod || '-'}} 期</span></li>
                                    <li><span class="pull-left fontWeight"> <i
                                            class="glyphicon glyphicon-yen"></i> 申请金额：</span><span
                                            class="ng-binding pull-left">{{ord.handle.formatMoney(item.orderAmount) || '-'}} 元</span></li>
                                    <li><span class="pull-left fontWeight"> <i
                                            class="glyphicon glyphicon-envelope"></i> 订单状态：</span><span
                                            class="ng-binding pull-left">{{
                                        item.orderStatus === '00' ? '录入中' : item.orderStatus === '01' ? '待审批' :item.orderStatus === '02' ? '审批中' :
                                        item.orderStatus === '03' ? '审批拒绝' :  item.orderStatus === '04' ? '待用户签署' : item.orderStatus === '05' ? '分期还款中' :
                                        item.orderStatus === '11' ? '已取消': item.orderStatus === '12' ? '已退款' :item.orderStatus === '13' ? '已提前结清':
                                        item.orderStatus === '99' ? '已结清' : '-'
                                        }}</span>
                                    </li>
                                    <li><span class="pull-left fontWeight"> <i
                                            class="glyphicon glyphicon-th-list"></i> 订单时间：</span><span
                                            class="ng-binding pull-left">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss' || '-' }}</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

