<div ng-controller="homeCtrl as home">
  <div class="wrapper sidebar-content wrapper-content animated fadeInRight homeCtrl" ng-class="isSmart?'smart-no-padding':''">
    <object ng-style="objHeight" style="width: 100%;height: 100%;" data="" id="object"></object>
    <div class="col-xs-12 col-sm-12 text-center" style="margin-bottom: 25px;margin-top: 25px;">
      <button type="submit" class="loginBtn" href="#licInfo" style="padding: 8px 25px;"
              ng-click="home.handle.nextStep()">
        <i class="fa fa-arrow-right"></i>&nbsp;下一步
      </button>
    </div>
  </div>
</div>