<div ng-controller="homeCtrl as home">
  <div class="wrapper sidebar-content wrapper-content animated fadeInRight homeCtrl" ng-class="isSmart?'smart-no-padding':''">
    <div class="row text-center" style="margin-top: 30px;">
      <h1 style="font-size: 25px;font-weight: bold">魔蝎运营商报告</h1>
    </div>
    <div class="row">

    </div>
    <div class="col-xs-12 col-sm-12 text-center" style="margin-bottom: 25px;">
      <button type="submit" class="btn btn-w-m btn-primary col-xs-12" href="#licInfo" style="padding: 8px 25px;"
              ng-click="home.handle.nextStep()">
        <i class="fa fa-arrow-right"></i>&nbsp;下一步
      </button>
    </div>
  </div>
</div>