<div ng-controller="contractCtrl as con" class="createAccountCtrl">
    <div class="wrapper sidebar-content wrapper-content animated fadeInRight homeCtrl"
         ng-class="isSmart?'smart-no-padding':''">
        <div class="container-fluid" style="padding-left: 0;padding-right: 0;margin-top: 25px;">
            <div class="col-xs-12 col-sm-12">
                <div class="container">
                    <p class="contract-title center">分期服务协议</p>
                    <p class="details right">编号：_________</p>
                    <p class="details">本合作协议（以下简称“本协议”）由以下三方于 年 月 日（“签署日”）于上海【】区（“签订地”）签订：</p>
                    <br/>
                    <hr/>
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width: 100%;" class="tableList">
                        <tr>
                            <td>甲方</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>法定代表人</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>地址</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>乙方</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>法定代表人</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>地址</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>0</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>丙方</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>身份证号码</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>联系电话</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>地址</td>
                            <td></td>
                        </tr>
                    </table>
                    <p class="details">本协议项下，甲方和乙方单独称为“一方”，合称为“各方”。</p>
                    <br/>
                    <hr/>
                    <p class="details bold" style="padding-top: 0!important;">鉴于：</p>
                    <dl class="transverse subtitle">
                        <dt>1.</dt>
                        <dd>甲方系一家依据中华人民共和国（以下简称“中国”）法律合法成立并有效存续的有限责任公司，为用户提供信息技术服务；</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>2.</dt>
                        <dd>乙方系一家依据中国法律合法成立并有效存续的医疗机构，为其客户提供医疗服务；</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>3.</dt>
                        <dd>丙方作为具有完全民事行为能力的自然人，自愿购买乙方医疗服务，并拟申请分期服务；</dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>4.</dt>
                        <dd>乙方拟使用甲方信息技术服务（以下或称“甲方服务”），委托对甲方对拟申请分期服务的客户即丙方进行资信审核评估及贷后管理。</dd>
                    </dl>

                    <p class="details">据此，为明确各自权利、义务，各方本着平等互利的原则，经协商一致，各方达成本协议如下：</p>


                    <p class="contract-title">一 . 定义</p>

                    <p>除本协议上下文另有约定外，本协议下述词语具有以下含义：</p>

                    <dl class="transverse subtitle">
                        <dt>1.1</dt>
                        <dd>舵定科技：指甲方设立并运营的信息技术平台，客户通过该平台向提出分期服务申请。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>1.2</dt>
                        <dd>客户：指通过乙方提供的分期服务而获得乙方提供的商品/服务的自然人，本协议项下客户为丙方。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>1.3</dt>
                        <dd>分期服务：乙方向为符合条件的客户提供的分期付款服务，即客户购买乙方商品/服务时，乙方委托甲方对客户进行资信审核并且在通过审核后，可以先使用乙方商品/服务而分期向乙方付款，下或称“分期服务”。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>1.4</dt>
                        <dd>信息技术服务：指甲方根据乙方委托对客户分期申请进行资信审核或评估、贷后管理、催收等服务。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>1.5</dt>
                        <dd>分期服务总费用：指客户就购买乙方商品/服务并申请分期服务，应向乙方支付的金额，包括分期本金、分期手续费。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>1.6</dt>
                        <dd>分期本金：指客户购买商品/服务应当支付的借款，即申请分期服务的本金。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>1.7</dt>
                        <dd>分期手续费：指客户因申请分期服务而应向乙方支付的手续费。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>1.8</dt>
                        <dd>每期应付款项：指丙方按照还款计划（或账单）对应到期还款日应支付的全部金额，包括每期应付费用、分期手续费、违约金（如有）。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>1.9</dt>
                        <dd>首付款：指丙方按照乙方要求在申请分期服务时先行支付一定比例的款项作为押金，由乙方自行或委托甲方代为收取。</dd>
                    </dl>
                    <!--分期服务内容及流程-->
                    <p class="contract-title">二 . 分期服务内容及流程</p>

                    <dl class="transverse subtitle">
                        <dt>2.1</dt>
                        <dd>丙方在购买丙方商品/服务时，如申请分期服务的应在舵定平台完成注册，并根据甲方、乙方要求上传相应的资料，包括但不限于客户资信审核材料（身份信息、信用信息、债权债务情况、履约能力和个人资信状况）、影像资料、服务/商品收据、产品相关信息（服务类型、金额、周期）等。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>2.2</dt>
                        <dd>丙方同意并授权甲方可自行或委托其他方对丙方上述信息进行整理、分析、评估、审核并出具相应的审核报告或意见，并将该审核结果告知乙方。丙方完全认可甲方的审核、评估结果，对此不提出任何异议。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>2.3</dt>
                        <dd>丙方分期申请通过甲方申请后，甲方通知乙方。乙方应为丙方提供本协议约定的商品/服务，并出具还款计划（见“附件一”）。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>2.4</dt>
                        <dd>丙方应按照还款计划约定，将应付款项通过第三方支付或银行转账等方式支付至甲方如下指定账户（下称“甲方指定账户”）：</dd>
                    </dl>

                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width: 100%;" class="tableList">
                        <tr>
                            <td>开户名称</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>开户行</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>账号</td>
                            <td></td>
                        </tr>
                    </table>
                    <p>丙方同意并授权，甲方可以以银联、第三方支付机构代扣等方式将应付款项划扣至甲方上述账户。</p>

                    <dl class="transverse subtitle">
                        <dt>2.5</dt>
                        <dd>乙方和丙方授权，甲方指定账户作为接收丙方支付应付的款项的账户，并由甲方扣除甲方信息技术服务费、提前还款手续费及其他费用（由甲方与乙方另行约定）后将剩余金额划转至乙方如下任一指定账户：</dd>
                    </dl>
                    <p>乙方指定账户信息（一）：</p>
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width: 100%;" class="tableList">
                        <tr>
                            <td>开户名称</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>开户行</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>账号</td>
                            <td></td>
                        </tr>
                    </table>
                    <p>乙方指定账户信息（二）：</p>
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width: 100%;" class="tableList">
                        <tr>
                            <td>开户名称</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>开户行</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>账号</td>
                            <td></td>
                        </tr>
                    </table>
                    <p>乙方理解并同意，甲方按照本协议的约定或依乙方的要求向前述任一账户支付款项的，即视为甲方已按照本协议的约定向乙方足额支付乙方每期应收款且乙方已足额收到该款项，乙方对此不得提出任何异议。上述指定账户由乙方根据业务需要自行指定，相应责任与后果由乙方自行承担，甲方对此不承担除按照本协议的约定支付乙方每期应收款的任何其他经济或法律上的责任。</p>
                    <dl class="transverse subtitle">
                        <dt>2.6</dt>
                        <dd>2.6丙方提前还款且经乙方同意的，丙方应按照剩余应还分期本金的3%向甲方支付提前还款手续费。丙方应于乙方、丙方确定的提前还款日将剩余分期本金、分期手续费及提前还款手续费一并支付至甲方指定账户。乙方、丙方确认提前还款日后应书面通知甲方。</dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>2.7</dt>
                        <dd>2.7丙方同意并授权，丙方在还款日未将应付款项支付至甲方指定账户的，乙方有权委托甲方或甲方合作的其他方对丙方进行催收，并将丙方的信息提供给甲方或甲方合作的其他方。丙方完全认可并同意，甲方或甲方合作的其他方对其进行催收，且不提出任何异议。</dd>
                    </dl>

                    <!--合同的签署与生效-->
                    <p class="contract-title">三 .分期基本信息</p>

                    <dl class="transverse subtitle">
                        <dt>3.1</dt>
                        <dd>分期基本信息如下：</dd>
                    </dl>
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width: 100%;" class="tableList">
                        <tr>
                            <td>商品/服务内容</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>分期本金</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>分期手续费率</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>分期手续费</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>分期服务总费用</td>
                            <td>人民币【】 元</td>
                        </tr>
                        <tr>
                            <td>首付款</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>分期期数（N）</td>
                            <td>【】期</td>
                        </tr>
                        <tr>
                            <td>每期应付款项 [（分期服务总费用-首付款）/N]</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>提前还款手续费率</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>还款日</td>
                            <td>以附件还款计划为准</td>
                        </tr>
                    </table>

                    <dl class="transverse subtitle">
                        <dt>3.2</dt>
                        <dd>本协议签署后，丙方应将首付款一次性支付至乙方如下账户。首付款作为押金可用于抵扣有分期服务总费用。
                        </dd>
                    </dl>
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width: 100%;" class="tableList">
                        <tr>
                            <td>开户名称</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>开 户 行</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>账   号</td>
                            <td></td>
                        </tr>
                    </table>

                    <dl class="transverse subtitle">
                        <dt>3.3</dt>
                        <dd>
                            分期服务申请审核期间，如遇甲方拟购买的商品/服务出现缺货、价格变动及其他非乙方原因导致乙方无法按本协议约定代甲方支付该等商品/服务价款的情况，或者甲方的分期服务申请经乙方审核未予以通过的，乙方有权拒绝为甲方提供分期服务，本协议不生效。乙方在任何情况下均不受本协议项下任何条款或条件的约束，无需履行任何垫付义务或分期服务。
                        </dd>
                    </dl>

                    <!--放款-->
                    <p class="contract-title">四 . 还款</p>

                    <dl class="transverse subtitle">
                        <dt>4.1</dt>
                        <dd>各方同意，本协议项下应付款项采用：1）丙方主动通过第三方支付或银行转账的方式将应付款项支付至甲方指定账户，或2）丙方授权银联等第三方支付代扣应付款项至甲方指定账户两种方式。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>4.2</dt>
                        <dd>如丙方未还款日前通过第三方支付或银行转账方式主动支付应付款项的，则丙方在此不可撤销地授权银联或其他第三方支付机构在约定时间（包括但不限于还款日、逾期）扣划至甲方指定账户。该等划扣以及丙方主动在乔融金服触发还款后自动从丙方指定账户中扣划应付款项至还款账户，均无需取得丙方的另行同意。</dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>4.3</dt>
                        <dd>丙方可在分期服务期间任何时间提前一次性偿还剩余全部分期服务总费用，但需经乙方书面同意。丙方提前偿还剩余全部分期服务总费用的，除支付当期及剩余应付款项外，还应向乙方支付提前还款手续费（以下统称“提前还款金额”）。提前还款手续费=【剩余应还分期本金*3%】。</dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>4.4</dt>
                        <dd>丙方应于【提出提前还款申请当月的还款日】一次性偿还全部提前还款金额。丙方在此不可撤销地授权银联或其他第三方支付机构于当月还款日将提前还款金额一次性从丙方指定账户中划扣至甲方指定账户，并同时不可撤销地授权甲方将提前还款金额划扣至乙方指定账户，该等扣划无需另行取得甲方同意。</dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>4.5</dt>
                        <dd>丙方逾期还款的，应按照借款协议之约定向乙方支付违约金，并应当承担因此产生的任何责任及损失。</dd>
                    </dl>

                    <p class="contract-title">五 . 债权债务转让</p>

                    <dl class="transverse subtitle">
                        <dt>5.1</dt>
                        <dd>未经甲方及乙方事先书面同意，丙方不得向任何第三方转让其在本协议、借款协议项下全部或部分权利或义务。</dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>5.2</dt>
                        <dd>
                            乙方有权将其在本协议项下对丙方享有的债权全部或部分转让、出质或采取其他方式处置给任何第三方（下称“受让方”）的，无需取得丙方的事先书面同意。丙方理解并同意，乙方或乙方委托甲方向丙方发送债权转让通知后（包括但不限于乔融金服站内信、邮件、短信等方式），该债权转让对丙方产生效力，丙方应向受让方履行偿还义务。
                        </dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>5.3</dt>
                        <dd>丙方在此不可撤销地认可乙方有完全的权利根据自己的意愿采取转让、出质等方式处置其债权，并完全认可乙方采取的任何处置行为，不会以未取得丙方事先同意而提出任何异议或以此为抗辩理由。</dd>
                    </dl>

                    <!--陈述与保证-->
                    <p class="contract-title">六 .陈述与保证</p>

                    <dl class="transverse subtitle">
                        <dt>6.1</dt>
                        <dd>乙方在此承诺并保证
                            <dl class="transverse subtitle">
                                <dt>1)</dt>
                                <dd>乙方具有提供本协议项下商品/服务的能力及资质，且不因客户申请分期服务而使商品/服务质量有所减损；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>2)</dt>
                                <dd>乙方签署本协议时已获得必要授权及批准，乙方任何时候不得以未获得内部授权或批准而拒绝履行本协议项下义务；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>3)</dt>
                                <dd>乙方为商品/服务的提供方，由于乙方提供的商品/服务与客户产生的任何纠纷，由乙方与丙方自行协商解决，且保证任何时候不会对甲方造成损失或影响；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>4)</dt>
                                <dd>乙方基于本协议项下向甲方作出的委托及授权均是其真实意思表示，乙方撤销委托或授权的，应当与甲方协商一致，并已完全履行本协议项下义务。</dd>
                            </dl>
                        </dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>6.2</dt>
                        <dd>丙方在此承诺并保证：
                            <dl class="transverse subtitle">
                                <dt>1)</dt>
                                <dd>丙方系年满18周岁的中华人民共和国（为本协议之目的，不包括香港特别行政区、澳门特别行政区和台湾地区）公民，具有完全民事权利能力与民事行为能力，具有签订和履行本协议的资格和能力，丙方可以独立地作为一方诉讼主体；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>2)</dt>
                                <dd>丙方向甲方、乙方提供的所有信息和资料真实、准确、完整且是最新的，不存在任何虚假记载、误导性陈述或重大遗漏；若丙方提供或维持任何错误、虚假、过时或不完整的资料或遗漏，或者甲方、乙方依独立判断怀疑丙方提供的信息、资料存在或可能存在错误、虚假、过时或不完整，甲方有权通知乙方，乙方有权暂停或终止向丙方提供分期服务，并自行或委托甲方通知丙方提前全部偿还商品/服务总费用。丙方应按照甲方或乙方要求履行还款义务。甲方、乙方对此不承担任何责任，并且丙方同意负担甲方、乙方由此所产生的全部直接或间接支出或损失；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>3)</dt>
                                <dd>丙方在本协议项下提供的任何信息发生变更的（包括但不限于联系方式或地址变更、指定账户发生销户、更换、冻结、查封等情形），丙方应于该等变更发生后的第二日且不晚于当月还款日书面通知甲方和乙方，否则因此导致包括但不限于银联等第三方支付机构代扣失败而造成丙方逾期的责任及损失由丙方自行承担；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>4)</dt>
                                <dd>丙方发生任何影响或者可能影响经济状况、信用状况、还款能力的事由，丙方应于前述变更可能发生之日前书面通知甲方和乙方，如变更为突发性的则至迟应在变更发生之日起两（2）个工作日内书面通知甲方和乙方；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>5)</dt>
                                <dd>丙方承诺将按照本协议的约定按时足额向乙方偿还分期服务总费用、违约金（如有），并承诺按照本协议约定的还款方式进行还款，否则由此引起的法律后果及违约责任由丙方自行承担。</dd>
                            </dl>
                        </dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>6.3</dt>
                        <dd>丙方在此不可撤销地授权乙方、甲方及其他合作机构：：
                            <dl class="transverse subtitle">
                                <dt>1)</dt>
                                <dd>为信用评估、数据处理、风险控制、逾期账款管理等向数据服务机构（包括不限于中国人民银行个人信用信息基础数据库、征信机构及其他机构，以下称“数据服务机构”）提供丙方个人信息从而查询丙方的资产、收入及个人信用信息（包括但不限于公共事业缴费、社保缴纳、金融机构贷款、担保等，以下统称“信用信息”）等，并向上述数据服务机构报送其信用信息；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>2)</dt>
                                <dd>出于本协议项下分期服务之需要（包括但不限于分期服务申请的处理、各阶段的还款管理、权利的保护及执行等），乙方可提供丙方的个人信息、信用信息给甲方关联公司，以及与甲方合作的机构；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>3)</dt>
                                <dd>基于甲方和乙方为提供本协议服务至目的，甲方或甲方其他合作机构向数据服务机构查询丙方资产、收入及其信用信息时，数据服务机构可自行或委托其他数据服务机构使用丙方个人信息查询丙方资产及信用信息；甲方或甲方其他合作结构可复制、存储、使用、加工丙方信用信息，利用该信用信息建立数据模型并进行评价；无论本协议下分期服务申请是否通过，丙方均同意乙方及数据服务机构前述行为；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>4)</dt>
                                <dd>依据法律法规规定在必要情况下有权将丙方逾期付款情况及个人信息向相关第三方（包括但不限于依法成立的征信机构、债权人、资产方、受让方等）披露，由此产生的丙方不良信用记录或不利影响及后果由丙方自行承担。</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>5)</dt>
                                <dd>丙方已就上述授权可能存在的风险或不利后果已经完全理解并自愿接受或承担。丙方同意就上述事项签署具体的授权书。</dd>
                            </dl>
                        </dd>
                    </dl>

                    <dl class="transverse subtitle">
                        <dt>6.4</dt>
                        <dd>丙方在此不可撤销地授权乙方6.4乙方及丙方理解并同意：
                            <dl class="transverse subtitle">
                                <dt>1)</dt>
                                <dd>本协议项下甲方仅提供信息技术服务。相关订单项下商品/服务的买卖关系的双方当事人仍为乙方和丙方，因商品/服务产生的任何纠纷均由乙方和丙方自行解决。与甲方无涉，丙方及乙方不得因该等争议或纠纷拒绝或延迟履行其在本协议项下的任何义务。</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>2)</dt>
                                <dd>丙方和乙方之间另行签订购销/服务合同且该合同不成立、不生效、无效、部分无效、未实际履行或被撤销、被解除不影响本协议的效力。</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>3)</dt>
                                <dd>若甲方因此遭受任何索赔、诉讼，或甲方被诉讼、仲裁等，而法院、仲裁或其他第三方机构要求甲方参加该等诉讼、仲裁或其他法律程序，导致甲方支付任何款项或垫付费用（包括但不限于律师费、诉讼费、保全费及对第三方的赔偿、违约金等）的，乙方及丙方应无条件立即予以赔偿，并对此承担连带责任。</dd>
                            </dl>
                        </dd>
                    </dl>


                    <p class="contract-title">七 . 保密</p>
                    <dl class="transverse subtitle">
                        <dt>7.1</dt>
                        <dd>各方应对本协议的内容严格保密，未经其他方书面同意，任何一方不得将本协议内容披露给其他方。</dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>7.2</dt>
                        <dd>丙方基于本协议项下服务而获知甲方、乙方的任何信息、资料（包括但不限于分期服务交易、结构、模式，分期服务的宣传资料，服务费率及其他信息等）均构成甲方或乙方保密信息，未经甲方或乙方书面同意，丙方不得将前述保密向第三方披露或用作任何商业或非商业的用途。</dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>7.3</dt>
                        <dd>甲方、乙方应对丙方提供的资料、信息以及从数据服务机构获取的信用信息等丙方保密信息严格保密，不得将丙方保密信息用作任何非法用途。丙方知悉并同意，甲方、乙方基于服务及为实现本协议目的对丙方保密信息进行如下行为且不构成违约，但甲方、乙方不得将丙方个人信息未经脱敏且用于本协议之外的目的：
                            <dl class="transverse subtitle">
                                <dt>1)</dt>
                                <dd>披露给合作的其他机构等用于对丙方资信审核的；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>2)</dt>
                                <dd>提供给数据服务机构以查询丙方信用信息等；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>3)</dt>
                                <dd>基于贷后管理及风控，将丙方保密信息披露给甲方合作的且依法成立的征信机构、风控机构、催收机构、顾问等；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>4)</dt>
                                <dd>其他为本协议约定之目的作出的不违反法律规定的行为；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>5)</dt>
                                <dd>本条所约定的保密义务是持续有效的，不因本协议的终止、到期、无效、撤销或解除而失效。</dd>
                            </dl>
                        </dd>
                    </dl>

                    <p class="contract-title">八 . 违约责任</p>
                    <dl class="transverse subtitle">
                        <dt>8.1</dt>
                        <dd>本协议任何一方违反本协议项下相关义务导致对方造成损失的，该方应当赔偿对方全部该等损失。违约方应赔偿给守约方的损失，包括但不限于因违约给守约方造成的直接损失，守约方支付的诉讼费和律师费等费用及其他间接损失。</dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>8.2</dt>
                        <dd>丙方发生以下一项或几项情形时，视为丙方严重违约：
                            <dl class="transverse subtitle">
                                <dt>1)</dt>
                                <dd>丙方未按照借款协议的约定按时足额偿还应付款项，逾期或拒不支付应付款项；
                                </dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>2)</dt>
                                <dd>丙方违反其在本协议中所做的任何承诺、保证或义务，或者丙方存在欺诈行为的；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>3)</dt>
                                <dd>
                                    丙方的任何财产遭受没收、征用、查封、扣押、冻结等可能影响其履行能力的不利事件，且未及时对甲方及乙方进行书面通知或不能及时提供有效补救措施；
                                </dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>4)</dt>
                                <dd>丙方的财务状况出现影响其履行能力的不利变化，且未及时对甲方及乙方进行书面通知或不能及时提供有效补救措施的；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>5)</dt>
                                <dd>丙方被宣告失踪、处于限制民事行为能力或丧失民事行为能力状态、被刑事监禁、或发生重大疾病、重大事故等可能影响其偿付能力的情况的；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>6)</dt>
                                <dd>丙方卷入或即将卷入重大诉讼、仲裁程序及其他法律纠纷，可能影响丙方的偿付能力的；或者丙方转移资产以规避债务的；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>7)</dt>
                                <dd>丙方与乙方存在其他分期服务协议，丙方未履行其在其他分期服务协议项下对乙方负有的到期债务的；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>8)</dt>
                                <dd>丙方的资信情况或清偿能力发生其他重大不利变化的；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>9)</dt>
                                <dd>其他影响丙方偿债能力的情形。</dd>
                            </dl>
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>8.3</dt>
                        <dd>丙方发生或可能发生本协议第8.2款约定的严重违约情形时，甲方或乙方有权采取以下一项或几项救济措施：
                            <dl class="transverse subtitle">
                                <dt>1)</dt>
                                <dd>要求丙方限期纠正违约行为；
                                </dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>2)</dt>
                                <dd>乙方自行或委托甲方宣布本协议及其他协议（如有）项下全部未偿还分期服务总费用提前到期，并要求丙方提前清偿；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>3)</dt>
                                <dd>要求银联等第三方支付机构协助从丙方指定账户资金中扣划全部或部分应付款项；
                                </dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>4)</dt>
                                <dd>以合法手段追偿应付款项、手续费、违约金等，由此引起的一切费用（包括但不限于公证费、诉讼费、财产保全费、执行费、仲裁费、律师费等）应由丙方承担；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>5)</dt>
                                <dd>解除本协议并要求丙方承担违约责任或赔偿责任；</dd>
                            </dl>
                            <dl class="transverse subtitle">
                                <dt>6)</dt>
                                <dd>采取法律、法规以及本协议约定的其他救济措施。</dd>
                            </dl>
                        </dd>
                    </dl>

                    <p class="contract-title">九 . 免责条款</p>
                    <dl class="transverse subtitle">
                        <dt>9.1</dt>
                        <dd>甲方有权对甲方平台不定期进行升级或停机维护，并可能导致甲方平台暂停或中止向乙方、丙方提供服务（包括但不限于申请、查询等）。甲方将通过甲方平台告知具体服务暂停或中止事宜及预计恢复时间。甲方该等暂停或中止向乙方、丙方提供服务不构成违约。
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>9.2</dt>
                        <dd>甲方出现下列任一状况而无法正常运作，致使无法向丙方提供本协议项下的各项服务，甲方不承担任何违约或赔偿责任，该状况包括但不限于： 1）系统维护期间；2）电信设备出现故障不能进行数据传输；3）因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素，造成系统障碍不能执行业务；4）由于黑客攻击、电信部门和其他甲方有信息技术依赖的相关部门、企事业单位技术调整或故障、网站升级、银行方面的问题等原因而造成的服务中断或者延迟。</dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>9.3</dt>
                        <dd>本协议有效期内，因国家相关主管部门颁布、变更的法令、政策导致甲方不能提供约定服务的，不视为其违约，甲方可根据相关的法令、政策变更合同内容或提前终止本协议，在此情况下，乙方、丙方已经享受服务而尚未到期或偿还的任何款项（包括分期服务总费用和手续费）视为立即到期丙方应立即归还，或者由乙方与丙方另行协商解决。
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>9.4</dt>
                        <dd>
                            甲方有权根据风险及自身业务运营情况需要暂停、中止或终止向乙方、丙方提供服务，因此导致乙方、丙方无法使用服务或服务受到限制的，不视为甲方违约，在此情况下，乙方、丙方已经享受服务而尚未到期或偿还的任何款项（包括分期服务总费用和手续费）视为立即到期丙方应立即归还，或者由乙方与丙方另行协商解决。
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>9.5</dt>
                        <dd>
                            丙方同意甲方出现上述情形时，并不会影响甲方基于本协议项下义务的履行。丙方不得以上述情形为由拒绝履行包括但不限于向乙方履行支付应付款项等义务。
                        </dd>
                    </dl>

                    <p class="contract-title">十 . 通知</p>

                    <dl class="transverse subtitle">
                        <dt>10.1</dt>
                        <dd>
                            本协议履行期内，甲方向乙方、丙方发出的书面通知方式包括但不限于邮寄纸质通知、发送电子邮件、手机短信或传真、甲方平台站内信、公告等。若以邮寄方式发出书面通知的，则该等通知按照乙方、丙方在本协议页首注明的地址或乙方、丙方另行通知的地址交邮后的第三个自然日即视为送达。若以电子邮件、手机短信和传真、站内信等电子方式发出书面通知的，则通知发送成功即视为送达。若以甲方平台发布公告的，自公告发布之日起视为送达。因信息传输等原因导致乙方、丙方未收到通知的，甲方不承担任何责任。
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>10.1</dt>
                        <dd>
                            本协议项下乙方、丙方向发送通知的必须以书面形式通知。
                        </dd>
                    </dl>

                    <p class="contract-title">十一 . 法律的适用和争议的解决</p>
                    <dl class="transverse subtitle">
                        <dt>11.1</dt>
                        <dd>
                            本协议的效力、解释、履行以及争议的解决均适用中华人民共和国法律（不含香港特别行政区、澳门特别行政区、台湾地区法律）。
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>11.2</dt>
                        <dd>
                            因本协议的签订、内容或履行而引起的相关争议，各方应当通过友好协商解决。协商不成的，各方一致同意将争议事项向甲方所在地有管辖权的人民法院提起诉讼。
                        </dd>
                    </dl>

                    <p class="contract-title">十二 . 其他</p>
                    <dl class="transverse subtitle">
                        <dt>12.1</dt>
                        <dd>
                            各方通过网络页面点击确认、电子签章或以甲方认可的其他方式确认签署本协议。本协议自各方根据前述规则确认签署后生效。
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>12.2</dt>
                        <dd>
                            为本协议下交易之便捷高效，乙方有权随时单方面修改本协议，并以书面形式进行公告或通知（包括但不限于网站公告、向丙方发送电子邮件等），而无需另行征得乙方、丙方的事先同意。经修订后的本协议一经公告或通知，立即自动生效。乙方、丙方在本协议变更后继续使用本协议项下的分期服务的，即视为丙方已充分阅读、理解并接受变更修改后的本协议内容，也将遵循变更修改后的协议内容使用本协议项下的分期服务。若丙方不同意变更修改后的协议内容，应立即停止使用本服务并书面通知甲方和乙方，且在乙方要求的期限内偿还全部应付款项并完全履行本协议项下义务。
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>12.3</dt>
                        <dd>
                            各方因履行本协议所产生的相关税费，由各方自行向主管税务机关申报、缴纳，但如果相关税收法律法规规定其他各方有代扣代缴义务，则其他方有权直接代扣代缴并向该方提供纳税凭证。
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>12.4</dt>
                        <dd>
                            如本协议中的任何条款与中国法律强制性规定冲突，则该条款无效，但该无效条款不影响本协议其他条款的效力。
                        </dd>
                    </dl>
                    <dl class="transverse subtitle">
                        <dt>12.5</dt>
                        <dd>
                            本协议如采用电子签名的方式签署的，乙方、丙方不可撤销的授权甲方合作的电子合同存证机构为乙方及丙方颁发CA证书，并在签署本协议或其他文件时，由甲方向合作的电子合同存证机构调用乙方、丙方的CA证书以完成本协议及其他文件的签署。乙方及丙方理解并同意，甲方基于本授权调用乙方及丙方CA证书而协助乙方及丙方签署完成的本协议及其他文件均视为乙方及丙方的真实意思表示，对乙方及丙方具有法律约束力。乙方或丙方对此无任何异议。
                        </dd>
                    </dl>
                    <p class="details center">（以下无正文）</p>
                    <br/>
                    <table border="1" cellspacing="0" cellpadding="0" style="border-collapse: collapse;width: 100%;" class="tableList">
                        <tr>
                            <td>
                                <h4>甲方</h4>
                                <p>（公章）</p>
                                <p>法定代表人/授权代表签字：_________________</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h4>乙方</h4>
                                <p>（公章）</p>
                                <p>法定代表人/授权代表签字：_________________</p>
                                <p>丙方：_________________（签字）</p>
                            </td>
                        </tr>
                    </table>
                </div>

                <!--<div class="ibox float-e-margins">-->
                    <!--<div class="ibox-content" style="padding: 0;height: 100%">-->
                        <!--<div class="activity-stream">-->
                            <!--<object data="views/agreement/contract.html" style=" width:100% ;height:100%;" ng-style="objHeight"></object>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            </div>

            <div class="col-xs-12 col-sm-12 text-center" style="margin-bottom: 25px;margin-top: 25px;">
                <button type="submit" class="loginBtn" href="#licInfo" style="padding: 8px 25px;"
                        ng-click="con.handle.nextStep()">
                    <i class="fa fa-arrow-right"></i>&nbsp;同意以上协议并签署
                </button>
            </div>
        </div>
    </div>
</div>
<style>
    /**
 *  Created by fangqing.
 */
    body, html {
        background-color: white;
        height: 100%;
    }

    ol {
        list-style: decimal;
    }

    .bold {
        font-weight: bold;
    }

    .seize-code {
        border-bottom: 1px solid #7c7c7c;
    }

    .container {
        width: 94%;
        margin: 0% 2%;
        font-family: Roboto-Regular;
        font-size: 12px;
    }
    .container>.list-title{
        font-size: 14px;
        font-family: Roboto-Medium !important;
        line-height: 35px;
        display: block;
        padding-top: 5%;
        font-weight: bold;
    }
    .container > .contract-title {
        font-size: 20px;
        font-family: Roboto-Medium !important;
        line-height: 35px;
        display: block;
        padding-top: 5%;
        margin-bottom: 0!important;
    }

    .container > .contract-title.center {
        text-align: center;
    }

    .container > .details {
        padding-top: 5%;
        margin-bottom: 0 !important;
    }

    .container > .details.center {
        text-align: center;
        margin-bottom: 10%;
    }

    .container > .details.right {
        text-align: right;
    }

    .transverse {
        display: flex;
        padding-top: 3%;
    }

    .container > .transverse > dt {
        font-weight: bold;
        width: 30%;
    }

    .container > .transverse > dd {
        width: 70%;
        line-height: 24px;
    }

    .subtitle > dt {
        font-weight: bold;
        width: 6% !important;
    }

    .subtitle > dd {
        width: 90% !important;
    }

    .container  .table {
        width: 90%;
        margin-top: 5%;
        margin-left: 10%;
        border-bottom: 1px solid #757575;
        border-right: 1px solid #757575;
    }

    .container  .table > tbody > tr {
        height: 35px;
    }

    .container  .table > tbody > tr > td {
        border-top: 1px solid #757575;
        border-left: 1px solid #757575;
        padding: 2%;
    }

    .container>.promise{
        height: 140px;
        line-height: 70px;
        padding: 10px;
        margin-top: 50px;
    }
    .container>.promise>.sign{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container>.promise>.sign-time{
        text-align: right;
    }

    .container .formula{
        display: inline-block;
        text-align: center;
    }
    .container .formula>hr{
        background-color: #000;
    }
    .container .formula>span>sup{
        font-size: 12px;
        -webkit-transform: scale(0.7);
        display: inline-block;
        margin-left: -12px;
    }
    .container .promise2>div{
        margin-top: 30px;
        line-height: 30px;
    }
    dd{
        margin-left: 5px!important;
    }

    .tableList td{
        padding-left: 5px;
        line-height: 25px;
        text-align: left;
        width: 50%;
    }
    p{
        line-height: 25px!important;
        padding: 0 10px;
    }
</style>

