<div ng-controller="entAccountCtrl as ent" class="testMobileCtrl">
    <div class="wrapper sidebar-content wrapper-content animated fadeInRight testMobileCtrl"
         ng-class="isSmart?'smart-no-padding':''">
        <div class="container-fluid" style="padding-left: 0;padding-right: 0;margin-top: 25px;">
            <div class="col-sm-12">
                <div class="ibox float-e-margins" style="margin-bottom: 0">
                    <div class="ibox-content" style="background: none;padding: 20px 0">
                        <div class="activity-stream">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <div class="col-sm-12 col-xs-12 ">
                                        <input type="text" name="companyName" ng-model="ent.data.companyName"
                                               style="" placeholder="商户名称" disabled>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12 col-xs-12">
                                        <i class="glyphicon glyphicon-menu-right inconRight"></i>
                                        <select ng-model="ent.parameter.itemName" name="itemName" ng-change="ent.handle.getItemName(ent.parameter.itemName)"
                                                ng-options="(m.itemCode + ' - ' + m.itemName) for m in ent.initArry.itemName">
                                            <option value="">请选择项目</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12 col-xs-12 ">
                                        <input type="text" name="orderAmount" ng-model="ent.data.orderAmount"
                                               style="" placeholder="申请金额">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12 col-xs-12">
                                        <i class="glyphicon glyphicon-menu-right inconRight"></i>
                                        <select ng-model="ent.data.totalPeriod" name="totalPeriod"
                                                ng-options="dict.period as dict.period for dict in ent.initArry.totalPeriod">
                                            <option value="">请选择期数</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-sm-12 col-xs-12">
                                        <i class="glyphicon glyphicon-menu-right inconRight"></i>
                                        <select ng-model="ent.parameter.companyChannelName" name="companyChannelName" ng-change="ent.handle.getcompanyChannel(ent.parameter.companyChannelName)"
                                                ng-options="(m.id + ' - ' + m.channelName) for m in ent.initArry.companyChannelName">
                                            <option value="">咨询师选择</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xs-12 text-center">
                <button type="button" class="loginBtn" href="#licInfo"
                        ng-click="ent.handle.goStep(ent.parameter)">
                    <i class="fa fa-arrow-right"></i>&nbsp;下一步
                </button>
            </div>
        </div>
    </div>
</div>



