<div class="middle-box text-center animated fadeInDown" >
        <img width="100%" src="img/back.png" alt="" >
    <div class="container-fluid" style="padding: 15px 25px;">
        <form class="m-t" name="loginForm">
            <div class="form-group loginform" style="margin-bottom: 30px;">
                <input type="text" class="loginName" placeholder="登入手机号" required ng-model="name">
                <i class="glyphicon glyphicon-user loginNameIcon"></i>
            </div>
            <div class="form-group loginform" style="margin-bottom: 30px;">
                <input type="text" class="loginPass" placeholder="短信验证" required ng-model="code" style="position: relative">
                <i class="glyphicon glyphicon-lock loginPassIcon"></i>
                <button ng-click="getCode($event,name)" class="getCode">获取验证码</button>
            </div>
            <!--<input type="button" class="getCode" value="获取验证码" ng-click="getCode($event)" style="">-->

            <button type="button" class="loginBtn"  ng-click="login(name,code)" ng-disabled="!loginForm.$valid || loginFormDisable">登 入 / 注 册</button>
        </form>
    </div>
</div>